@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FDF2F2;
}

.top {
    background-color: white;
    display: flex;
}

.top h2 {
    color: black;
    padding-left: 20%;
}

.logo {
    display: flex;
}

.logo p {
    padding-top: 5px;
    font-weight: bold;
}