@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FDF2F2;
}

.top {
    background-color: white;
    display: flex;
}

.top h2 {
    color: black;
    padding-left: 20%;
}

.logo {
    display: flex;
}

.logo p {
    padding-top: 5px;
    font-weight: bold;
}

.outer-container {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.middle-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-gap: 35px;
}

.skill-container {
    border: solid 2px;
    border-radius: 8px;
    width: 470px;
    height: 700px;
    background-color: white;
    grid-gap: 30px;
}

.chat-container {
    border: solid 2px;
    border-radius: 8px;
    height: 700px;
    background-color: white;
}

.skill-match {
    border: solid grey;
    width: 170px;
    height: 220px;
    margin-top: 60px;
    margin-left: 20px;
    display: grid;
    justify-content: center;
}

.skill-top {
    display: grid;
    grid-template-columns: 3fr 4fr;
}

.skill-middle {
    display: flex;
    justify-content: space-evenly;
}

.pink-inner {
    width: 140px;
    height: 150px;
    border: solid;
    margin-top: 10px;
    background-color: #ffe9e9;
}

.your-skills-container {
    border: solid;

}

.wanted-skills-container {
    border: solid;
}

.job-input {
    width: 210px;
    height: 220px;
    border-radius: 10px;
    border: solid grey;
}

.upload {
    text-align: center;
}

.title {
    font-weight: bold;
    margin-left: 8px;
}





