<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Mr. Axolotl</title>
</head>
<body>
    <section class="top">
        <div class="logo">
            <img src="./static/images/axolotl.jpg" height="70px" width="70px">
            <p>MR.AXOLOTL</p>
        </div>
        <h2>Consult Mr. Axolotl - The World Renowned Recruiter</h2>
    </section>
    <section class="upload">
        <p>Hone your interview skills and perfect your resume with Mr.Axolotl! <br> Upload your resume to get started.</p>
        <img src="./static/images/upload.png" height="50px" width="40px">
        <form method='POST' enctype='multipart/form-data'>
            {{form.hidden_tag()}}
            {{form.file()}}
            {{form.submit()}}
        </form>
    </section>
    <div class="outer-container">
        <div class="middle-container">
            <div class="skill-container">
                <div class="skill-top">
                    <div class="skill-match">
                        <div class="pink-inner"></div>
                    </div>
                    <div>
                        <p class="title">Job Posting Skill Match</p>
                        <form action="/process-form" method="POST">
                            <input type="text" name="jobRequirements" class="job-input" placeholder="Paste job posting here..."></input>
                            <div class="button-wrapper">
                                <button class="submit-btn" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="skill-middle">
                    <div>
                        <p class="skills-title">Your Skills</p>
                        <div class="your-skills-container">
                            <ul>
                                {% for element in job_skills %}
                                    <li>{{ element }}</li>
                                {% endfor %}
                            </ul>
                         </div>
                    </div>
                    <div>
                        <p class="skills-title">Required Skills</p>
                        <div class="required-skills-container"></div>
                    </div>
                </div>
                <div>
                    <p class="skills-title">Missing Skills</p>
                    <div class="skill-bottom">
                        <div class="missing-skills">
                    </div>
                </div>

                </div>
            </div>
            <div class="chat-container">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img src="./static/images/axl.gif" class="rounded-circle user_img">
                            </div>
                            <div class="user_info">
                                <span>Mr.Axolotl</span>
                            </div>
                        </div>
                    </div>
                    <div id="messageFormeight" class="card-body msg_card_body"> </div>
                    <div class="card-footer">
                        <form id="messageArea" class="input-group">
                            <input type="text" id="text" name="msg" placeholder="Send message..." autocomplete="off" class="form-control type_msg" required/>
                            <div class="input-group-append">
                                <button type="submit" id="send" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
                
                <script>
                    $(document).ready(function() {
                        $("#messageArea").on("submit", function(event) { 
                            const date = new Date();
                            const hour = date.getHours();
                            const minute = date.getMinutes();
                            const str_time = hour + ":" + minute;
                            var rawText = $("#text").val();
                
                            var userHtml = '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' + rawText + '<span class="msg_time_send">'+ str_time + '</span></div><div class="img_cont_msg"><img src="./static/images/Vector.png" class="rounded-circle user_img_msg"></div></div>';
                            
                            $("#text").val("");
                            $("#messageFormeight").append(userHtml);
                
                            $.ajax({
                                data: {
                                    msg: rawText,
                                },
                                type: "POST",
                                url: "/get",
                            }).done(function(data) {
                                var botHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="./static/images/axl.gif" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' + data + '<span class="msg_time">' + str_time + '</span></div></div>';
                                $("#messageFormeight").append($.parseHTML(botHtml));
                            });
                            event.preventDefault();
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</body>
</html>

